config_version = 1

[plugins.downloads.hadolint]
url = "https://github.com/hadolint/hadolint/releases/download/v2.12.0/hadolint-Linux-arm64"
file_name = "hadolint"
# https://github.com/hadolint/hadolint/releases/download/v2.8.0/hadolint-Darwin-x86_64
file_type = "executable"

[plugins.definitions.hadolint]
runtime = "linux"
downloads = ["hadolint"]
file_types = ["docker"]
config_files = [".hadolint.yaml", ".hadolint.yml"]
recommended = true

[plugins.definitions.hadolint.drivers.lint]
script = "/tmp/qlty/hadolint ${target} -f json --no-fail"
success_codes = [0]
output = "stdout"
output_format = "hadolint"
cache_results = true
batch = true
