config_version = 1

[plugins.downloads.hadolint]
download_type = "executable"

[[plugins.downloads.hadolint.system]]
cpu = "x86_64"
url = "https://github.com/hadolint/hadolint/releases/download/v${version}/hadolint-Linux-x86_64"

[[plugins.downloads.hadolint.system]]
cpu = "aarch64"
url = "https://github.com/hadolint/hadolint/releases/download/v${version}/hadolint-Linux-arm64"

[plugins.definitions.hadolint]
runtime = "linux"
downloads = ["hadolint"]
file_types = ["docker"]
config_files = [".hadolint.yaml", ".hadolint.yml"]
version_command = "hadolint --version"
recommended = true

[plugins.definitions.hadolint.drivers.lint]
script = "hadolint ${target} -f json --no-fail"
success_codes = [0]
output = "stdout"
output_format = "hadolint"
cache_results = true
batch = true
